<div id="page__storeOrder">
    <table>
        <tr>
            <th>STT</th>
            <th>Tên khách hàng</th>
            <th>Số điện thoại</th>
            <th>Trạng thái</th>
            <th>Thông tin</th>
        </tr>
    </table>
    <div id="confirm-dialog">
    </div>
</div>

<script>
    fetch(`/api/order`)
        .then(response => response.json())
        .then(data => {
            const page = document.getElementById('page__storeOrder')
            const table = page.querySelector('table');
            const rows = data.map((order, index) => `
                <tr>
                    <td>${index+1}</td>
                    <td>${order.name}</td>
                    <td>${order.phone}</td>
                    <td>${order.status? order.status:'Chưa xác nhận'}</td>
                    <td>
                        <a href="/admin/order/${order._id}">Chi tiết</a>
                        <button data-id="${order._id}">Xóa</button>
                    </td>
                </tr>
            `).join('');
             table.innerHTML += rows;
        })
</script>