<footer>
    <div class="content">
        <div class="wrapper">
            <h4 class="footer__title">
                Công ty TNHH đầu tư và phát triển Mando Clone
            </h4>
            <ul class="description">
                <li>Thời trang MANDO Clone Mã số doanh nghiệp: 0108403540 do sở Kế hoạch và Đầu tư TP Hà Nội cấp ngày 14/08/2018</li>  
                <li><img src="/images/footer.png" alt=""></li>
            </ul>
        </div>
        <div class="wrapper">
            <h4 class="footer__title">
                Liên kết
            </h4>
            <ul class="description">
                <li>Tìm kiếm</li>
                <li>Giới thiệu</li>  
                <li>Chính sách đổi trả</li>
                <li>Chính sách bảo mật</li>
            </ul>
        </div>
        <div class="wrapper">
            <h4 class="footer__title">
                Thông tin liên hệ
            </h4>
            <ul class="description">
                <li><i class="fa-regular fa-location-dot"></i>Văn phòng Công ty TNHH Đầu tư và Phát triển Mando - Số 5, ngõ 18, đường Phạm Hùng, phường Mỹ Đình 2, quận Nam Từ Liêm, thành phố Hà Nội, Việt Nam</li>
                <li><i class="fa-regular fa-phone"></i>0978461032</li>  
            </ul>
        </div>
        <div class="wrapper">
            <h4 class="footer__title">
                Fanpage
            </h4>
        </div>
    </div>
    <div class="bottom">
        <span>Copyright © 2023 Thời trang MANDO. Powered by Haravan</span>
    </div>
</footer>