<nav>
    <button class="button"><a href="/" class="link">Trang chủ</a></button>
    <button class="button"><a href="/product" class="link">Sản phẩm</a></button>
    <button class="button"><a href="/product" class="link">Danh mục</a>
        <i class="fa-solid fa-angle-down"></i>
        <ul class="list">
            <li><a href="/product?type=Shirt">SHIRT</a></li>
            <li><a href="/product?type=T-Shirt">T-SHIRT</a></li>
            <li><a href="/product?type=Polo">POLO</a></li>
            <li><a href="/product?type=Blazer">BLAZER</a></li>
            <li><a href="/product?type=Áo khoác">ÁO KHOÁC</a></li>
            <li><a href="/product?type=Quần jean">QUẦN JEAN</a></li>
        </ul>
    </button>
    <button class="button"><a class="link">Giới thiệu</a></button>
    <button class="button"><a class="link"> Ưu đãi</a></button>
</nav>

<script>
    
</script>