<div class="sidebar">
    <ul>
        <li><a href="/product">Danh Sách Sản Phẩm</a></li>
        <li><a href="/product?type=Shirt">SHIRT</a></li>
        <li><a href="/product?type=T-Shirt">T-SHIRT</a></li>
        <li><a href="/product?type=Polo">POLO</a></li>
        <li><a href="/product?type=Blazer">BLAZER</a></li>
        <li><a href="/product?type=Áo khoác">ÁO KHOÁC</a></li>
        <li><a href="/product?type=Quần jean">QUẦN JEAN</a></li>
    </ul>
</div>