* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  --primary-color: #65d1e6;
}
* :not(i) {
  font-family: "Quicksand", sans-serif !important;
}

.w100 {
  width: 100%;
}

.w75 {
  width: 75%;
  display: inline-block;
}

.w50 {
  width: 50%;
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a, button {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

img, div {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  user-select: none;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  margin: 16px 0;
}
.title:hover {
  color: var(--primary-color);
}

header {
  width: 100%;
  padding: 0 60px;
}

#header {
  height: 92px;
  padding: 20px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header div {
  flex: 1 0 1;
}
#header .logo {
  width: 120px;
}
#header .user-avatar {
  cursor: pointer;
  position: relative;
  margin-right: 16px;
}
#header .user-avatar .avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
#header .user-avatar .username {
  display: none;
  background-color: #ccc;
  font-size: 13px;
  padding: 2px 5px;
  border-radius: 999px;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(50%) translateY(10%);
  z-index: 999;
}
#header .user-avatar:hover .username {
  display: block;
}
#header .user-avatar .menu-action {
  display: none;
  background-color: #fff;
  list-style-type: none;
  position: absolute;
  max-width: 160px;
  top: 120%;
  right: 50%;
  z-index: 999;
  border-top: 3px solid #000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  color: #000;
  transform: translateX(50%);
}
#header .user-avatar .menu-action li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  text-align: left;
  display: block;
  color: #252a2b;
}
#header .user-avatar .menu-action li a {
  text-align: center;
  padding: 8px;
  width: 100%;
  height: 100%;
  font-size: 15px;
  font-weight: 500;
  display: block;
}
#header .user-avatar .menu-action li button {
  padding: 8px;
  font-size: 15px;
  font-weight: 500;
  display: block;
  width: 100%;
  border: none;
}
#header .user-avatar .menu-action li:hover a {
  color: var(--primary-color);
}
#header .action {
  display: flex;
  justify-content: right;
  align-self: center;
}
#header .action button ~ button {
  margin-left: 10px;
}
#header .action .button {
  border: none;
  background-color: transparent;
  padding: 4px;
  font-size: 24px;
}
#header .action .button__link--primary {
  min-width: 100px;
  border: 1px solid #0888ca;
  border-radius: 8px;
  background-color: #0888ca;
  padding: 6px 12px;
}
#header .action .button__link--primary a {
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
#header .action .button__link--primary:hover {
  background-color: #0077A9;
}
#header .action .button__link--default {
  min-width: 100px;
  border: none;
  padding: 6px 12px;
}
#header .action .button__link--default a {
  background-color: transparent;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
#header .action .button__link--default:hover a {
  color: #0077A9;
}

@keyframes tranformRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#modal-cart {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 999;
}
#modal-cart .wrapper {
  transform: translateX(0);
  padding: 32px;
  width: 480px;
  background-color: #fff;
  float: right;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all;
  animation: tranformRight 0.5s;
}
#modal-cart .wrapper .cart__header {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
}
#modal-cart .wrapper .cart__header h1 {
  color: #008CBA;
  font-size: 24px;
}
#modal-cart .wrapper .cart__header button {
  border: none;
  padding: 8px;
}
#modal-cart .wrapper .cart__header button i {
  font-size: 20px;
}
#modal-cart .wrapper .content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
#modal-cart .wrapper .content::-webkit-scrollbar {
  display: none;
}
#modal-cart .wrapper .content .card {
  padding: 12px 0;
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
}
#modal-cart .wrapper .content .card ~ .card {
  border-top: 1px #ccc solid;
}
#modal-cart .wrapper .content .card .thumbnail {
  width: 80px;
  margin-right: 20px;
}
#modal-cart .wrapper .content .card .thumbnail img {
  width: 100%;
}
#modal-cart .wrapper .content .card .infor {
  flex: 1;
}
#modal-cart .wrapper .content .card .infor a {
  font-size: 14px;
  font-weight: 600;
}
#modal-cart .wrapper .content .card .infor a:hover {
  color: #008CBA;
}
#modal-cart .wrapper .content .card .infor div {
  margin: 5px 0 12px;
}
#modal-cart .wrapper .content .card .infor div span {
  font-size: 12px;
  opacity: 0.8;
  text-transform: uppercase;
  margin-right: 12px;
}
#modal-cart .wrapper .content .card .infor div .quantity {
  text-align: center;
  background-color: #ccc;
  padding: 4px 12px;
}
#modal-cart .wrapper .content .card .delete__card {
  margin: 4px;
}
#modal-cart .wrapper .content .card .delete__card button {
  border: none;
}
#modal-cart .wrapper .content .card .delete__card button i {
  padding: 8px;
  font-size: 14px;
}
#modal-cart .wrapper .content .card .delete__card button i:hover {
  color: #008CBA;
}
#modal-cart .wrapper .cart__footer {
  border-top: #000 2px solid;
  padding: 12px 0;
}
#modal-cart .wrapper .cart__footer span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0 20px;
}
#modal-cart .wrapper .cart__footer button {
  font-size: 16px;
  font-weight: 500;
  background-color: #008CBA;
  color: #fff;
  border: 1px #008CBA solid;
  width: 100%;
  font-size: 16px;
  padding: 12px;
  transition: 0.5s;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
#modal-cart .wrapper .cart__footer button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s;
  z-index: -1;
}
#modal-cart .wrapper .cart__footer button:hover {
  color: #000;
}
#modal-cart .wrapper .cart__footer button:hover::after {
  transform: translateX(0);
  opacity: 1;
}

nav {
  background-color: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 888;
  height: 46px;
  font-weight: 400;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
nav .button {
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 0 15px;
  margin: 0 25px 0 0;
  position: relative;
}
nav .button:hover .link {
  color: #008CBA;
}
nav .button .link {
  padding: 10px 0 15px;
  width: 100%;
  height: 100%;
}
nav .button .list {
  background-color: #fff;
  list-style-type: none;
  position: absolute;
  width: 142px;
  top: 99%;
  z-index: 999;
  border-top: 3px solid #000;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  display: none;
  color: #000;
}
nav .button .list li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  text-align: left;
  display: block;
  font-size: 14px;
  color: #252a2b;
}
nav .button .list li a {
  display: block;
  padding: 9px 18px;
}
nav .button .list li:hover a {
  color: var(--primary-color);
}
nav .button::after {
  content: "";
  width: 0;
  position: absolute;
  transition: all 0.3s;
  left: 0px;
  top: 99%;
  border-top: 3px solid black;
}
nav .button:hover {
  color: var(--primary-color);
}
nav .button:hover .list {
  display: block;
}
nav .button:hover::after {
  width: 100%;
}

.sidebar {
  height: auto;
  float: left;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
}
.sidebar ul li {
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.sidebar ul li a {
  padding: 5px;
  display: block;
}
.sidebar ul li:hover a {
  cursor: pointer;
  color: #0888ca;
}

footer .content {
  padding: 20px 20px 0;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  display: grid;
  grid-template-columns: 35% 15% 25% auto;
  grid-column-gap: 20px;
}
footer .content .wrapper .footer__title {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 20px;
  line-height: 25px;
}
footer .content .wrapper .description {
  list-style: none;
}
footer .content .wrapper .description li {
  font-size: 12px;
  line-height: 20px;
}
footer .content .wrapper .description li img {
  margin-top: 10px;
  width: 150px;
}
footer .content .wrapper .description li i {
  font-size: 14px;
  margin: 0 10px 0 0;
}
footer .bottom {
  padding: 20px 0;
}
footer .bottom span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/* CSS of Home Page */
.homepage__banners img {
  width: 100%;
}

.slider {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 60px;
}
.slider .content {
  width: 100%;
  position: relative;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 33.3333333333%;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0px;
  gap: 1px;
}
.slider .content::-webkit-scrollbar {
  display: none;
}
.slider .content .card {
  scroll-snap-align: start;
  height: 120px;
  position: relative;
}
.slider .content .card .images {
  height: 100%;
  overflow: hidden;
  opacity: 0.9;
}
.slider .content .card .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.slider .content .card:hover .images img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.slider .content .card .info {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}
.slider .content .card .info .name {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 10px 20px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.slider .content .card .info .button {
  width: 100px;
  border: #ccc 1px solid;
  margin-left: 20px;
  padding: 5px 15px;
  display: inline-block;
}
.slider .content.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.slider .content.dragging .card {
  cursor: grab;
}
.slider .content.no-transition {
  scroll-behavior: auto;
}
.slider .prev-btn, .slider .next-btn {
  margin: 0 8px;
  width: 40px;
  height: 40px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.slider .prev-btn {
  left: 0;
  top: calc(50% - 20px);
}
.slider .prev-btn i {
  opacity: 0.2;
}
.slider .prev-btn:hover i {
  opacity: 1;
}
.slider .next-btn {
  right: 0;
  top: calc(50% - 20px);
}
.slider .next-btn i {
  opacity: 0.2;
}
.slider .next-btn:hover i {
  opacity: 1;
}

.page {
  display: inline-block;
}

.homepage .banners img {
  width: 100%;
}
.homepage .list__product {
  width: 100%;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  border-radius: 10px;
}

.product__page .list__product {
  width: 100%;
  display: grid;
  padding: 20px;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  border-radius: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.product__page .title {
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  margin: 20px;
}

.product {
  width: 100%;
}
.product .image {
  overflow: hidden;
  position: relative;
}
.product .image img {
  width: 100%;
  transition: all 0.5s;
}
.product .image img:first-child {
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
}
.product .image img:hover {
  cursor: pointer;
}
.product .image img:hover:first-child {
  opacity: 0;
}
.product .info {
  padding: 10px 0;
}
.product .info .name {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 600;
}
.product .info .name:hover {
  color: var(--primary-color);
  cursor: pointer;
}
.product .info .price {
  font-size: 14px;
  font-weight: 500;
}

.page__productOnly .wrapper {
  display: flex;
  padding: 20px 10px;
}
.page__productOnly .wrapper .slider {
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0;
}
.page__productOnly .wrapper .slider .content {
  grid-auto-columns: 100%;
}
.page__productOnly .wrapper .slider .content .card {
  scroll-snap-align: start;
  height: auto;
}
.page__productOnly .wrapper .slider .content .card img {
  width: 100%;
}
.page__productOnly .wrapper .slider .action {
  width: 12%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.page__productOnly .wrapper .slider .action button {
  background-color: #fff;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px #ccc solid;
  box-sizing: border-box;
}
.page__productOnly .wrapper .slider .action button img {
  height: 100%;
  width: 100%;
}
.page__productOnly .wrapper .slider .action button.active {
  border: 1px #000 solid;
}
.page__productOnly .wrapper .infor {
  margin-left: 20px;
  width: 35%;
}
.page__productOnly .wrapper .infor .name {
  font-size: 20px;
  font-weight: 700;
  line-height: initial;
  margin-bottom: 30px;
}
.page__productOnly .wrapper .infor .name:hover {
  color: #000;
  cursor: auto;
}
.page__productOnly .wrapper .infor div {
  border-top: 1px #d5d5d5 solid;
  padding: 10px;
}
.page__productOnly .wrapper .infor div p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  font-size: 16px;
  text-align: left;
  line-height: initial;
  min-width: 90px;
  font-weight: bold;
}
.page__productOnly .wrapper .infor .color button,
.page__productOnly .wrapper .infor .size button {
  margin-left: 5px;
  border: 1px #d5d5d5 solid;
  font-size: 14px;
  padding: 10px 12px;
  border-radius: 3px;
}
.page__productOnly .wrapper .infor .color button:first-child,
.page__productOnly .wrapper .infor .size button:first-child {
  margin-left: 20px;
}
.page__productOnly .wrapper .infor .color button.active,
.page__productOnly .wrapper .infor .size button.active {
  background-color: #000;
  color: #fff;
}
.page__productOnly .wrapper .infor .quantity input {
  background: #fff;
  font-size: 16px;
  font-weight: 600;
  width: 54px;
  padding: 8px;
  text-align: center;
  border: 1px solid #f5f5f5;
  border-left: none;
  border-right: none;
  border-radius: 1px;
  outline: none;
}
.page__productOnly .wrapper .infor .quantity button {
  margin-left: 5px;
  border: 1px #d5d5d5 solid;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 3px;
  margin: 0;
}
.page__productOnly .wrapper .infor .action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.page__productOnly .wrapper .infor .action button {
  position: relative;
  text-transform: uppercase;
  border: 1px #0888ca solid;
  background-color: #0888ca;
  color: #fff;
  width: 50%;
  font-size: 12px;
  font-weight: bold;
  transition: 0.5s;
  overflow: hidden;
  z-index: 1;
  padding: 12px;
  line-height: 22px;
}
.page__productOnly .wrapper .infor .action button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s;
  z-index: -1;
}
.page__productOnly .wrapper .infor .action button:hover {
  color: #000;
}
.page__productOnly .wrapper .infor .action button:hover::after {
  transform: translateX(0);
  opacity: 1;
}

#form__createProduct,
#form__updateProduct {
  padding: 20px 40px;
}
#form__createProduct h2,
#form__updateProduct h2 {
  font-size: 28px;
  color: #0888ca;
}
#form__createProduct table,
#form__updateProduct table {
  width: 100%;
  margin-bottom: 20px;
}
#form__createProduct table td,
#form__updateProduct table td {
  padding: 8px 16px 0 0;
}
#form__createProduct table td span,
#form__updateProduct table td span {
  font-size: 16px;
  font-weight: 500;
}
#form__createProduct table td input, #form__createProduct table td textarea, #form__createProduct table td select,
#form__updateProduct table td input,
#form__updateProduct table td textarea,
#form__updateProduct table td select {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  margin-top: 10px;
  padding: 8px 10px;
  width: 100%;
  outline: none;
  resize: none;
}
#form__createProduct table td input[type=file]::file-selector-button,
#form__updateProduct table td input[type=file]::file-selector-button {
  border: none;
  background: #0888ca;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
#form__createProduct table td input[type=checkbox],
#form__updateProduct table td input[type=checkbox] {
  display: inline-block;
  width: auto;
  margin: 10px;
  box-shadow: none;
}
#form__createProduct #preview,
#form__updateProduct #preview {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#form__createProduct #preview .image,
#form__updateProduct #preview .image {
  max-width: 120px;
}
#form__createProduct #preview .image img,
#form__updateProduct #preview .image img {
  width: 100%;
}

.button-primary {
  background-color: #0888ca;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: 100px;
  padding: 8px;
  border: 1px transparent solid;
}

.button-cancel {
  background-color: #fff;
  color: #000;
  margin-left: 8px;
  font-size: 16px;
  font-weight: 500;
  width: 100px;
  padding: 8px;
  border: 1px #000 solid;
}

#page__storeProduct {
  padding: 24px;
}
#page__storeProduct table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}
#page__storeProduct table td, #page__storeProduct table th {
  border: 1px solid black;
  padding: 5px;
}
#page__storeProduct table tr td:nth-child(2) {
  max-width: 320px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#page__storeProduct table tr td:first-child,
#page__storeProduct table tr td:nth-child(3),
#page__storeProduct table tr td:nth-child(4),
#page__storeProduct table tr td:nth-child(5),
#page__storeProduct table tr td:last-child {
  text-align: center;
}
#page__storeProduct table tr td:last-child {
  white-space: nowrap;
}
#page__storeProduct table tr td:last-child a,
#page__storeProduct table tr td:last-child button {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 0;
}
#page__storeProduct table tr td:last-child a {
  background-color: #0888ca;
  color: white;
}
#page__storeProduct table tr td:last-child button {
  background-color: #FF4500;
  color: #fff;
}
#page__storeProduct #confirm-dialog {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
#page__storeProduct #confirm-dialog .dialog-content {
  margin: auto;
  max-width: 520px;
  background-color: white;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#page__storeProduct #confirm-dialog .dialog-content h2 {
  color: #0888ca;
  margin-bottom: 20px;
}
#page__storeProduct #confirm-dialog .dialog-content p {
  margin-bottom: 30px;
}
#page__storeProduct #confirm-dialog .dialog-content button {
  float: right;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 3px;
}
#page__storeProduct .page__store--link {
  margin-top: 20px;
}
#page__storeProduct .page__store--link a {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  position: relative;
  padding: 8px 12px;
  border: 1px solid transparent;
  background-color: #0888ca;
}

#page__storeOrder {
  padding: 24px;
}
#page__storeOrder table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}
#page__storeOrder table td, #page__storeOrder table th {
  border: 1px solid black;
  padding: 5px;
}
#page__storeOrder table tr td:first-child {
  text-align: center;
}
#page__storeOrder table tr td:nth-child(5) {
  white-space: nowrap;
  text-align: center;
}
#page__storeOrder table tr td:last-child a,
#page__storeOrder table tr td:last-child button {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 0;
}
#page__storeOrder table tr td:last-child a {
  background-color: #0888ca;
  color: white;
}
#page__storeOrder table tr td:last-child button {
  background-color: #FF4500;
  color: #fff;
}

.page__login,
.page__register {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page__login h2,
.page__register h2 {
  margin-bottom: 16px;
  color: #008CBA;
}
.page__login #login-form,
.page__login #register-form,
.page__register #login-form,
.page__register #register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 320px;
}
.page__login #login-form .wrapper,
.page__login #register-form .wrapper,
.page__register #login-form .wrapper,
.page__register #register-form .wrapper {
  width: 100%;
  margin: 6px 0;
}
.page__login #login-form .wrapper #username, .page__login #login-form .wrapper #password, .page__login #login-form .wrapper #confirm-password,
.page__login #register-form .wrapper #username,
.page__login #register-form .wrapper #password,
.page__login #register-form .wrapper #confirm-password,
.page__register #login-form .wrapper #username,
.page__register #login-form .wrapper #password,
.page__register #login-form .wrapper #confirm-password,
.page__register #register-form .wrapper #username,
.page__register #register-form .wrapper #password,
.page__register #register-form .wrapper #confirm-password {
  font-size: 16px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 10px 16px;
  margin-bottom: 6px;
}
.page__login #login-form .wrapper label,
.page__login #register-form .wrapper label,
.page__register #login-form .wrapper label,
.page__register #register-form .wrapper label {
  font-weight: 600;
  display: inline-block;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
}
.page__login #login-form .wrapper span,
.page__login #register-form .wrapper span,
.page__register #login-form .wrapper span,
.page__register #register-form .wrapper span {
  display: block;
  color: #FF4500;
  font-size: 14px;
  width: 100%;
  text-align: left;
}
.page__login #login-form .button-submit,
.page__login #register-form .button-submit,
.page__register #login-form .button-submit,
.page__register #register-form .button-submit {
  font-weight: 600;
  background-color: #008CBA;
  width: 100%;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 24px;
  margin-bottom: 12px;
}
.page__login #login-form .button-submit:hover,
.page__login #register-form .button-submit:hover,
.page__register #login-form .button-submit:hover,
.page__register #register-form .button-submit:hover {
  background-color: #0077A9;
}
.page__login .action,
.page__register .action {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 2px;
}
.page__login .action button,
.page__register .action button {
  margin-left: 5px;
  border: none;
}
.page__login .action button span,
.page__register .action button span {
  margin-right: 5px;
}
.page__login .action button a,
.page__register .action button a {
  color: #008CBA;
  font-size: 16px;
  font-weight: 600;
}
.page__login #confirm-dialog,
.page__register #confirm-dialog {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.page__login #confirm-dialog .dialog-content,
.page__register #confirm-dialog .dialog-content {
  margin: auto;
  max-width: 520px;
  min-width: 360px;
  background-color: white;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.page__login #confirm-dialog .dialog-content h2,
.page__register #confirm-dialog .dialog-content h2 {
  color: #0888ca;
  margin-bottom: 20px;
}
.page__login #confirm-dialog .dialog-content p,
.page__register #confirm-dialog .dialog-content p {
  margin-bottom: 30px;
}
.page__login #confirm-dialog .dialog-content button,
.page__register #confirm-dialog .dialog-content button {
  float: right;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 3px;
}
.page__login #confirm-dialog .dialog-content button a,
.page__register #confirm-dialog .dialog-content button a {
  background-color: transparent;
  color: #fff;
}

.page__payment,
.page__inforOrder {
  padding: 32px;
  display: flex;
}
.page__payment .payment__form,
.page__payment .inforOrder__form,
.page__inforOrder .payment__form,
.page__inforOrder .inforOrder__form {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.page__payment .payment__form > div,
.page__payment .inforOrder__form > div,
.page__inforOrder .payment__form > div,
.page__inforOrder .inforOrder__form > div {
  width: 100%;
}
.page__payment .payment__form > div .title,
.page__payment .inforOrder__form > div .title,
.page__inforOrder .payment__form > div .title,
.page__inforOrder .inforOrder__form > div .title {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin: 12px 0;
}
.page__payment .payment__form .infor .wrapper__input,
.page__payment .inforOrder__form .infor .wrapper__input,
.page__inforOrder .payment__form .infor .wrapper__input,
.page__inforOrder .inforOrder__form .infor .wrapper__input {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
}
.page__payment .payment__form .infor .wrapper__input input,
.page__payment .inforOrder__form .infor .wrapper__input input,
.page__inforOrder .payment__form .infor .wrapper__input input,
.page__inforOrder .inforOrder__form .infor .wrapper__input input {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  border: none;
  box-shadow: 0 0 0 1px #d9d9d9;
  color: #333333;
  border-radius: 4px;
  padding: 12px 16px;
}
.page__payment .payment__form .infor .wrapper__input input[name=email],
.page__payment .inforOrder__form .infor .wrapper__input input[name=email],
.page__inforOrder .payment__form .infor .wrapper__input input[name=email],
.page__inforOrder .inforOrder__form .infor .wrapper__input input[name=email] {
  flex: 1;
  margin-right: 16px;
}
.page__payment .payment__form .infor .wrapper__input input[name=phone],
.page__payment .inforOrder__form .infor .wrapper__input input[name=phone],
.page__inforOrder .payment__form .infor .wrapper__input input[name=phone],
.page__inforOrder .inforOrder__form .infor .wrapper__input input[name=phone] {
  min-width: 120px;
  width: 25%;
}
.page__payment .payment__form .action,
.page__payment .inforOrder__form .action,
.page__inforOrder .payment__form .action,
.page__inforOrder .inforOrder__form .action {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.page__payment .payment__form .action button,
.page__payment .inforOrder__form .action button,
.page__inforOrder .payment__form .action button,
.page__inforOrder .inforOrder__form .action button {
  min-width: 240px;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 12px;
}
.page__payment .payment__form .action .button__submit,
.page__payment .payment__form .action .button__confirm,
.page__payment .payment__form .action .button__save,
.page__payment .inforOrder__form .action .button__submit,
.page__payment .inforOrder__form .action .button__confirm,
.page__payment .inforOrder__form .action .button__save,
.page__inforOrder .payment__form .action .button__submit,
.page__inforOrder .payment__form .action .button__confirm,
.page__inforOrder .payment__form .action .button__save,
.page__inforOrder .inforOrder__form .action .button__submit,
.page__inforOrder .inforOrder__form .action .button__confirm,
.page__inforOrder .inforOrder__form .action .button__save {
  color: #fff;
  border: 1px solid #0888ca;
  border-radius: 8px;
  background-color: #0888ca;
}
.page__payment .payment__form .action .button__edit,
.page__payment .inforOrder__form .action .button__edit,
.page__inforOrder .payment__form .action .button__edit,
.page__inforOrder .inforOrder__form .action .button__edit {
  color: #000;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
}
.page__payment .payment__form .action .button__save,
.page__payment .inforOrder__form .action .button__save,
.page__inforOrder .payment__form .action .button__save,
.page__inforOrder .inforOrder__form .action .button__save {
  display: none;
}
.page__payment .payment__form .method .wrapper__input,
.page__inforOrder .payment__form .method .wrapper__input {
  width: 100%;
  padding: 12px 16px;
}
.page__payment .payment__form .method .wrapper__input input[name=paymentMethod],
.page__inforOrder .payment__form .method .wrapper__input input[name=paymentMethod] {
  margin-right: 12px;
}
.page__payment .payment__form .method .wrapper__input label[for=paymentMethod],
.page__inforOrder .payment__form .method .wrapper__input label[for=paymentMethod] {
  font-size: 16px;
  font-weight: 500;
}
.page__payment .payment__form .method .wrapper__input label[for=paymentMethod] i,
.page__inforOrder .payment__form .method .wrapper__input label[for=paymentMethod] i {
  margin-right: 8px;
  font-size: 20px;
}
.page__payment .payment__form .method .span__error,
.page__inforOrder .payment__form .method .span__error {
  display: none;
  margin-bottom: 12px;
  color: red;
  font-size: 14px;
  font-weight: 400;
}
.page__payment .inforOrder__form input,
.page__inforOrder .inforOrder__form input {
  pointer-events: none;
  background-color: rgba(239, 239, 239, 0.3);
}
.page__payment .inforOrder__form .method .wrapper__input,
.page__inforOrder .inforOrder__form .method .wrapper__input {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
}
.page__payment .inforOrder__form .method .wrapper__input input,
.page__inforOrder .inforOrder__form .method .wrapper__input input {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  border: none;
  box-shadow: 0 0 0 1px #d9d9d9;
  color: #333333;
  border-radius: 4px;
  padding: 12px 16px;
}
.page__payment .inforOrder__form.edit input,
.page__inforOrder .inforOrder__form.edit input {
  pointer-events: all;
  background-color: #fff;
}
.page__payment .inforOrder__form.edit .action .button__save,
.page__inforOrder .inforOrder__form.edit .action .button__save {
  display: block;
}
.page__payment .inforOrder__form.edit .action .button__confirm,
.page__payment .inforOrder__form.edit .action .button__edit,
.page__inforOrder .inforOrder__form.edit .action .button__confirm,
.page__inforOrder .inforOrder__form.edit .action .button__edit {
  display: none;
}
.page__payment .payment__cart,
.page__payment .inforOrder__cart,
.page__inforOrder .payment__cart,
.page__inforOrder .inforOrder__cart {
  height: 70vh;
  width: 40%;
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px #ccc solid;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.page__payment .payment__cart .title,
.page__payment .inforOrder__cart .title,
.page__inforOrder .payment__cart .title,
.page__inforOrder .inforOrder__cart .title {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}
.page__payment .payment__cart .content,
.page__payment .inforOrder__cart .content,
.page__inforOrder .payment__cart .content,
.page__inforOrder .inforOrder__cart .content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}
.page__payment .payment__cart .content::-webkit-scrollbar,
.page__payment .inforOrder__cart .content::-webkit-scrollbar,
.page__inforOrder .payment__cart .content::-webkit-scrollbar,
.page__inforOrder .inforOrder__cart .content::-webkit-scrollbar {
  display: none;
}
.page__payment .payment__cart .content .card,
.page__payment .inforOrder__cart .content .card,
.page__inforOrder .payment__cart .content .card,
.page__inforOrder .inforOrder__cart .content .card {
  padding: 12px 0;
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
}
.page__payment .payment__cart .content .card ~ .card,
.page__payment .inforOrder__cart .content .card ~ .card,
.page__inforOrder .payment__cart .content .card ~ .card,
.page__inforOrder .inforOrder__cart .content .card ~ .card {
  border-top: 1px #ccc solid;
}
.page__payment .payment__cart .content .card .thumbnail,
.page__payment .inforOrder__cart .content .card .thumbnail,
.page__inforOrder .payment__cart .content .card .thumbnail,
.page__inforOrder .inforOrder__cart .content .card .thumbnail {
  width: 80px;
  margin-right: 20px;
}
.page__payment .payment__cart .content .card .thumbnail img,
.page__payment .inforOrder__cart .content .card .thumbnail img,
.page__inforOrder .payment__cart .content .card .thumbnail img,
.page__inforOrder .inforOrder__cart .content .card .thumbnail img {
  width: 80px;
}
.page__payment .payment__cart .content .card .infor h3,
.page__payment .inforOrder__cart .content .card .infor h3,
.page__inforOrder .payment__cart .content .card .infor h3,
.page__inforOrder .inforOrder__cart .content .card .infor h3 {
  font-size: 14px;
  font-weight: 600;
}
.page__payment .payment__cart .content .card .infor div,
.page__payment .inforOrder__cart .content .card .infor div,
.page__inforOrder .payment__cart .content .card .infor div,
.page__inforOrder .inforOrder__cart .content .card .infor div {
  margin: 5px 0 12px;
}
.page__payment .payment__cart .content .card .infor div span,
.page__payment .inforOrder__cart .content .card .infor div span,
.page__inforOrder .payment__cart .content .card .infor div span,
.page__inforOrder .inforOrder__cart .content .card .infor div span {
  font-size: 12px;
  opacity: 0.8;
  text-transform: uppercase;
  margin-right: 12px;
}
.page__payment .payment__cart .content .card .infor div .quantity,
.page__payment .inforOrder__cart .content .card .infor div .quantity,
.page__inforOrder .payment__cart .content .card .infor div .quantity,
.page__inforOrder .inforOrder__cart .content .card .infor div .quantity {
  text-align: center;
  background-color: #ccc;
  padding: 4px 12px;
}
.page__payment .payment__cart .cart__footer,
.page__payment .inforOrder__cart .cart__footer,
.page__inforOrder .payment__cart .cart__footer,
.page__inforOrder .inforOrder__cart .cart__footer {
  border-top: #000 2px solid;
  padding: 12px 0;
}
.page__payment .payment__cart .cart__footer span,
.page__payment .inforOrder__cart .cart__footer span,
.page__inforOrder .payment__cart .cart__footer span,
.page__inforOrder .inforOrder__cart .cart__footer span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0 20px;
}
.page__payment #confirm-dialog,
.page__inforOrder #confirm-dialog {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}
.page__payment #confirm-dialog .dialog-content,
.page__inforOrder #confirm-dialog .dialog-content {
  margin: auto;
  max-width: 520px;
  min-width: 360px;
  background-color: white;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.page__payment #confirm-dialog .dialog-content h2,
.page__inforOrder #confirm-dialog .dialog-content h2 {
  color: #0888ca;
  margin-bottom: 20px;
}
.page__payment #confirm-dialog .dialog-content p,
.page__inforOrder #confirm-dialog .dialog-content p {
  margin-bottom: 30px;
}
.page__payment #confirm-dialog .dialog-content button,
.page__inforOrder #confirm-dialog .dialog-content button {
  float: right;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 3px;
}
.page__payment #confirm-dialog .dialog-content button a,
.page__inforOrder #confirm-dialog .dialog-content button a {
  background-color: transparent;
  color: #fff;
}

@media (max-width: 900px) {
  header {
    padding: 0 30px;
  }
  .slider .content {
    grid-auto-columns: 50%;
  }
  .homepage .list__product {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
@media (max-width: 600px) {
  header {
    padding: 0 10px;
  }
  .slider .content {
    grid-auto-columns: 100%;
  }
  .homepage .list__product {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

/*# sourceMappingURL=style.css.map */
