<div class="page__register">
    <h2>Đăng ký</h2>
    <form id="register-form">
        <div class="wrapper">
            <label for="username">Tên đăng nhập:</label>
            <input type="text" id="username" name="username" autocomplete="username" placeholder="Nhập tên tài khoản...">
            <span class="span-error"></span>
        </div>
        <div class="wrapper">
            <label for="password">Mật khẩu:</label>
            <input type="password" id="password" name="password" autocomplete="new-password" placeholder="Nhập mật khẩu...">
            <span class="span-error"></span>
        </div>
        <div class="wrapper">
            <label for="confirm-password">Nhập lại mật khẩu:</label>
            <input type="password" id="confirm-password" name="confirm-password" autocomplete="new-password" placeholder="Xác nhận mật khẩu...">
            <span class="span-error"></span>
        </div>
        <button class="button-submit">Đăng ký</button>
    </form> 
    <div class="action">
        <span>Bạn đã có tài khoản </span><button><a href="/login">Đăng nhập</a></button>
    </div>
    <div id="confirm-dialog">
        <div class="dialog-content">
            <h2>Thông báo</h2>
            <p></p>
            <button id="confirm" class="button-primary">Xác nhận</button>
        </div>
    </div>
</div>

</div>

<script>
    function isValidValue(value) {
        const pattern = /^[a-zA-Z0-9!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]*$/;
        const containsWhitespace = value.includes(' ');
        
        return pattern.test(value) && !containsWhitespace;
    }
    function isLengthInRange(str, min) {

        return str.length >= min
    }
    const registerForm = document.getElementById('register-form')
    registerForm.addEventListener("submit", (e) => {
        e.preventDefault();
        const usernameInput = registerForm.querySelector('#username')
        const passwordInput = registerForm.querySelector('#password')
        const confirmPasswordInput = registerForm.querySelector('#confirm-password')
        
        let isValid = true

        if(!isValidValue(usernameInput.value) || !isLengthInRange(passwordInput.value, 8)) {
            isValid = false
            const parent = usernameInput.parentElement;
            const spanError = parent.querySelector('.span-error')
            
            spanError.innerText = "Tên tài khoản không hợp lệ"
        }

        if(!isValidValue(passwordInput.value) || !isLengthInRange(passwordInput.value, 8)) {
            isValid = false
            const parent = passwordInput.parentElement;
            const spanError = parent.querySelector('.span-error')

            spanError.innerText = "Mật khẩu phải trên 8 kí tự"
        }

        if(!(confirmPasswordInput.value == passwordInput.value)) {
            isValid = false
            const parent = confirmPasswordInput.parentElement;
            const spanError = parent.querySelector('.span-error')

            spanError.innerText = "Mật khẩu không đúng vui lòng kiểm tra lại"
        }
        
        if(isValid) {
            const confirmDialog = document.getElementById("confirm-dialog")
            const spanDialog = confirmDialog.querySelector("p")
            const buttonDialog = confirmDialog.querySelector("button")
            const data = {
                username: usernameInput.value,
                password: passwordInput.value,
                permission: '1',
            }
            fetch('/account/register', { method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(data)
            })
                .then(res => {
                    return res.json()
                })
                .then(data => {
                    if(data.status == 'Success') {
                        confirmDialog.style.display = "flex"
                        spanDialog.innerText = data.element
                        buttonDialog.onclick = () => {
                            window.location.pathname = "/login"
                        }
                    }
                    if(data.status == 'Faile' || data.status == 'Error') {
                        confirmDialog.style.display = "flex"
                        spanDialog.innerText = data.element
                        buttonDialog.onclick = () => {
                            confirmDialog.style.display = "none"
                        }
                    }
                })
                .catch(error => {
                    confirmDialog.style.display = "flex"
                    spanDialog.innerText = data.element
                    buttonDialog.onclick = () => {
                        confirmDialog.style.display = "none"
                    }
                }) 
            }
        }
    )
</script>