<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/assets/fontawesome-free-6.2.0-web/css/fontawesome.css" rel="stylesheet">
    <link href="/assets/fontawesome-free-6.2.0-web/css/brands.css" rel="stylesheet">
    <link href="/assets/fontawesome-free-6.2.0-web/css/solid.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">    
  </head>
  <body>
    {{> header}}
    {{> navbar}}
    <div> {{{body}}}</div>
    {{> footer}}
    {{> modalCart}}
  </body>
  
</html>
